@font-face {
  font-family: Poppins Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins SemiBold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Open Sans Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
/* VARIABLE */
/* Font Size */
/* FUNCIONES */
/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Pagina principal */
body {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(103, 75, 175);
  font-size: 15px;
  padding: 3em 5.3em;
  /* Autores */
}
body .main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "Image Description" "Icon Icon";
}
body .main__containerimage {
  grid-area: Image;
  margin-top: 7em;
}
body .main__containerimage-image {
  width: 100%;
}
body .main__description {
  grid-area: Description;
  display: flex;
  flex-direction: column;
  padding: 10em 8em;
}
body .main__description-title {
  font-family: Poppins SemiBold;
  color: rgb(250, 250, 250);
  font-size: 3.2em;
  margin-bottom: 1em;
}
body .main__description-paragraph {
  font-family: Open Sans Regular;
  color: rgb(250, 250, 250);
  font-size: 1.5em;
  line-height: 1.8;
  opacity: 0.8;
  margin-bottom: 1.5em;
}
body .main__description-button {
  width: 40%;
  padding: 1em 1em;
  border-radius: 2.5em;
  border: 0;
  color: rgb(103, 75, 175);
  font-family: Poppins Regular;
  font-size: 1.2em;
  box-shadow: 10px 15px 50px -15px rgb(0, 0, 0);
  cursor: pointer;
}
body .main__description-button:hover {
  background-color: rgb(232, 130, 232);
  color: rgb(250, 250, 250);
}
body .main__icon {
  grid-area: Icon;
  display: flex;
  justify-content: end;
  gap: 1em;
}
body .main__icon-facebook {
  width: 3.5em;
  height: 3.5em;
  background-image: url(../images/facebook__white.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgb(250, 250, 250);
  border-radius: 50%;
  cursor: pointer;
}
body .main__icon-facebook:hover {
  background-image: url(../images/facebook__magenta.png);
  border: 1px solid rgb(232, 130, 232);
}
body .main__icon-twitter {
  width: 3.5em;
  height: 3.5em;
  background-image: url(../images/twitter__white.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgb(250, 250, 250);
  border-radius: 50%;
  cursor: pointer;
}
body .main__icon-twitter:hover {
  background-image: url(../images/twitter__magenta.png);
  border: 1px solid rgb(232, 130, 232);
}
body .main__icon-instagram {
  width: 3.5em;
  height: 3.5em;
  background-image: url(../images/instagram__white.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgb(250, 250, 250);
  border-radius: 50%;
  cursor: pointer;
}
body .main__icon-instagram:hover {
  background-image: url(../images/instagram__magenta.png);
  border: 1px solid rgb(232, 130, 232);
}
body .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(250, 250, 250);
  font-family: Poppins SemiBold;
  font-size: 1em;
  margin-top: 2em;
}
body .footer__atributos {
  font-size: 1em;
}
body .footer__atributos-enlace {
  color: rgb(250, 250, 250);
  margin-left: 0.3em;
  margin-right: 0.3em;
}

@media screen and (max-width: 375px) {
  body {
    width: 100vw;
    height: 50vh;
    background-image: url(../images/mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em;
    /* Autores */
  }
  body .header__logo {
    width: 13em;
  }
  body .main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "Image" "Description" "Icon";
  }
  body .main__containerimage {
    grid-area: Image;
    margin-top: 5em;
  }
  body .main__containerimage-image {
    width: 100%;
  }
  body .main__description {
    grid-area: Description;
    align-items: center;
    padding: 0;
  }
  body .main__description-title {
    text-align: center;
    font-size: 1.5em;
    margin-top: 2em;
  }
  body .main__description-paragraph {
    text-align: center;
    font-size: 1em;
    margin-bottom: 1.5em;
  }
  body .main__description-button {
    width: 80%;
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 4em;
  }
  body .main__icon {
    grid-area: Icon;
    justify-content: center;
  }
  body .main__icon-facebook {
    width: 2em;
    height: 2em;
    background-size: 0.9em;
  }
  body .main__icon-twitter {
    width: 2em;
    height: 2em;
    background-size: 0.9em;
  }
  body .main__icon-instagram {
    width: 2em;
    height: 2em;
    background-size: 0.9em;
  }
  body .footer {
    font-size: 0.6em;
  }
}/*# sourceMappingURL=style.css.map */